recursive-include misc *
recursive-include doc gendoc.py
recursive-include doc/src *.txt *.png *.css
recursive-include doc/html *.css
recursive-include gamera/pixmaps *.png *.py *.bmp
recursive-include gamera/test *.tiff
recursive-include src *.cpp *.c *.h makefile.* *.hpp *.txt ANNOUNCE CHANGES INSTALL LICENSE README TODO KNOWNBUG Y2KINFO
recursive-include src/eodev *
recursive-include examples *.py README *.tiff *.xml
recursive-include gamera/include/gamera *.hpp *.hxx *.h README
recursive-include gamera/src *.hpp *.cpp
include CHANGES INSTALL LICENSE ACKNOWLEDGEMENTS KNOWN_BUGS MANIFEST.in TODO setup.cfg gamera_post_install.py version
